<!DOCTYPE html>
<html lang="es-Mx">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="icon" href="favicon.ico" type="image/x-icon"/> -->
    <title>PelisPlusPlus</title>
    <!--Boostrap 4 CDN-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <style>
        *{
            font-family: Arial;
        }
        #logo{
           /* background-image: url("icono.png");*/
            background-color: rgb(88, 88, 88);
            width: 50px;
            height: 40px;
            float: left;
            border-radius: 30px;
        }

        .nabar{
            background-color: black;
            width: 100%;
            height: 50px;
            float: left;
            display: flex;
            align-items: center;
        }

        .nabar a{
            background-color: transparent;
            float: left;
            margin: 0;
            font-size: 25px;
            color: rgb(255, 255, 255);
            font-weight: 700;
        }
    </style>
    <nav class="nabar">
        <div id="logo">
         
        </div>
        <a href="/" >PelisPlusPlus </a>
       </nav>